body {
    font-family: system-ui;
}

.modal {
    background-color: #fff;
    width: 400px;
    height: 100%;
    right: 0;
    top: 0;
    position: fixed;
    border: 2px solid black;
    /* transition: right 0.3s ease; */
}

.item-name {
    font-weight: 500;
}

/* .normal { color: gray }
.silver { color: silver}
.gold { color: gold }
.iridium { color: purple } */

#bin {
    width: 10px;
}