body {
    background-color: #d9d9ff;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;      
    margin: 10px;
}

button {
    font-family: inherit;
}

.card-container {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    margin-bottom: 20px;
}

h1  {
    text-align: center;
    font-weight: 700;
}

p {
    text-align: center;
}

/* Search bar */
.search-bar {
    width: 500px;
    background: #fff;
    margin: 0 auto 0;
    border-radius: 5px;
    position: relative;
    border: 1px solid grey;
    margin-bottom: 50px;
}

.row {
    display: flex;
    align-items: center;
}
.search-icon {
    width: 20px;
    padding: 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
}

/* Description */
.description {
    max-width: 600px;
}

/* Profession */
.professions p {

}

.professions h3 {
    padding-left: 10px;
}

.profession-tabs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.profession-tabs button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    cursor: pointer;
    padding: 20px 50px 0px 50px;

}
.profession-tabs button.active {
    background-color: #d6befb;
}
.profession-tabs button:hover {
    background-color: #d6befb;
}

.item-profession {
    background-color: #fff;
    font-size: 10px;
    border: none;
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

/* Profession category colour */
.rancher {
    background-color: rgb(246, 114, 111);
}
.mastery {
    background-color: rgb(217, 217, 201);
}
.tapper {
    background-color: rgb(247, 198, 106);
}
.tiller {
    background-color: rgb(66, 196, 103);
}
.artisan {
    background-color: rgb(187, 180, 57);
}
.fisher {
    background-color: rgb(42, 180, 226);;
}
.angler {
    background-color: rgb(114, 114, 243);
}
.knowledge {
    background-color: rgb(178, 136, 136);
}
.tiller\+knowledge {
    background-color: rgb(122, 166, 120);
}
.gemologist {
    background-color: rgb(227, 107, 215);
}

.tiller_knowledge {
    display: flex;
    margin-bottom: -2px;
}
.tiller_img {
    width: 40px;
    height: 40px;
}
.knowledge_img {
    width: 40px; 
    height: 40px;

}

.profession-image {
    width: 40px;
}

/* Bottom Container */
.bottom-card {
    background-color: #fff;
    border: 1px solid grey;
    position: relative;
}

.category-tabs {
    border-bottom: 1px solid grey;
    white-space: nowrap;
}

.category-tabs button.All {
    width: 50px;
}

.category-tabs button{
    background-color: #fff;
    padding: 10px;
    border: none;
    width: 150px;
    cursor: pointer;
}

.category-tabs button.active {
    background-color: #fff;
    border-bottom: 3px solid #3c82f5;
}

.category-tabs button:hover {
    background-color: #fff;
    border-bottom: 3px solid #3c82f5;
}

/* Item card */
.stardew-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item-card {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}

.item-image-and-name-container {
    border-radius: 12px;
    padding: 10px;    
}

.item-and-overlay-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item-name-and-prof-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-name {
    font-weight: 200;
    text-align: center;
    height: 20px;
}

.item-image {
    display: block;
    width: 25px;
    /* opacity: 0.5; */
}

.overlay-image {
    position: absolute;
    top: 20%;
    left: 43%;
    width: 40px;
    pointer-events: none;
    width: 25px;
}

/* Points Button */
.item-star-container {
    height: 16px;
    padding-bottom: 3px;
}

.quality-image {
    width: 16px;
    padding: 2px;
}

.points-btn-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.points-btn-container button {
    background-color: #fff;
    border: 1px solid #d1d2d4;
    border-radius: 10px;
}

.points-btn-container button:active {
    background-color: #3c82f5;
}

