body {
    background-color: #d9d9ff;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;      
    margin: 10px;
}

button {
    font-family: inherit;
}

.card-container {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    margin-bottom: 20px;
}

h1  {
    text-align: center;
    font-weight: 700;
}

p {
    text-align: center;
}

/* Search bar */
.search-bar {
    width: 500px;
    background: #fff;
    margin: 0 auto 0;
    border-radius: 5px;
    position: relative;
    border: 1px solid grey;
}

.row {
    display: flex;
    align-items: center;
}
.search-icon {
    width: 20px;
    padding: 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
}

/* Profession */
.profession-tabs {
}

.profession-tabs button {
    padding: 10px;
}
/* 
#item-list {
    position: absolute;
    top: 35px;
    width: 455px;
    list-style: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
}

#item-list li {
    padding: 10px;
    cursor: pointer;
}

#item-list li:hover {
    background-color: #f0f0f0;
} */


/* .icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 2;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
} */



/* Category Tabs */
.categories-container {
    background-color: #fff;
    border: 1px solid grey;
    position: relative;
}

.category-tabs {
    border-bottom: 1px solid grey;
    white-space: nowrap;
}

.category-tabs button.All {
    width: 50px;
}

.category-tabs button{
    background-color: #fff;
    padding: 10px;
    border: none;
    width: 110px;
}

.category-tabs button.active {
    background-color: #fff;
    border-bottom: 3px solid #3c82f5;
}

.category-tabs button:hover {
    background-color: #fff;
    border-bottom: 3px solid #3c82f5;
}

/* Item card */
.stardew-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item-card {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}

.item-image-and-name-container {
    border-radius: 12px;
    padding: 10px;    
}

.item-and-overlay-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item-name-and-prof-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-name {
    font-weight: 200;
    text-align: center;
    height: 20px;
}

.item-profession {
    background-color: rgb(74, 74, 74);
    color: white;
    font-size: 10px;
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

.rancher {
    background-color: rgb(224, 36, 33);
}

.tiller {
    background-color: rgb(21, 122, 49);
}

.artisan {
    background-color: rgb(187, 180, 57);
}

.fisher {
    background-color: rgb(42, 180, 226);;
}

.gemologist {
    background-color: rgb(197, 30, 180);
}

.item-image {
    display: block;
    width: 25px;
    /* opacity: 0.5; */
}

.overlay-image {
    position: absolute;
    top: 20%;
    left: 43%;
    width: 40px;
    pointer-events: none;
    width: 25px;
}

/* Points Button */
.item-star-container {
    height: 16px;
    padding-bottom: 3px;
}

.quality-image {
    width: 16px;
    padding: 2px;
}

.points-btn-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.points-btn-container button {
    background-color: #fff;
    border: 1px solid #d1d2d4;
    border-radius: 10px;
}

.points-btn-container button:active {
    background-color: #3c82f5;
}

